<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <connectionStrings>
      <add name="Default" connectionString="Server=.\SQLEXPRESS2014;Database=WW_1;User Id=sa;Password=mssql@12345;"/>
    </connectionStrings>
</configuration>